{% extends 'base.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customize</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>
{% block content %}
<body>


<h1 style="position: relative; left:0px; top:0px">Curated For Your Own Comfort</h1>
<h1 style="position: relative; left:0px; top:20px; font-size:20px">Choose your preferred size, material, and design!</h1>
<h1 style="position: relative; left:0px; top:20px; font-size:15px">Starting price: $10</h1>

    <!-- Start BUTTON -->
    <a href="http://127.0.0.1:8000/products/customize1"
       class="btn btn-primary"
       style="background-color:Black;border:1px solid LightGray;position:relative;left:0px;top:40px;padding:12px;width:10%">
        Start
    </a>
</body>
{% endblock %}

</html>