{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
{% block content %}
    <h1>Best Sellers</h1>
<div class="row" style="position: relative; left:15px; top: 20px">

        <!-- MASK 1-->
        <div class="card" style="width: 20rem; position: relative; left: 0px; top: 0px"  >
            <img src="https://m.media-amazon.com/images/I/71EvBQ7p83L._AC_SL1500_.jpg" class="card-img-top" width="500" height="300">
            <div class="card-body">
                <h5 class="card-title">Gradient Fur Mask</h5>
                <strike class="card-text">$49.99</strike>
                <p style="color:red" class="card-text">$24.99</p>
                <a href="#" class="btn btn-primary" style="background-color:LightGray;border:2px solid LightGray;">Coming Soon!!</a>
            </div>
        </div>
        <!-- MASK 2-->
        <div class="card" style="width: 20rem; position: relative; left: 0px; top: 0px"  >
            <img src="https://images-na.ssl-images-amazon.com/images/I/71J2FtBU7ML._AC_UL320_SR320,320_.jpg" class="card-img-top" width="500" height="300">
            <div class="card-body">
                <h5 class="card-title">Majestic Mask</h5>
                <strike class="card-text">$14.99</strike>
                <p style="color:red" class="card-text">$9.99</p>
                <a href="#" class="btn btn-primary" style="background-color:LightGray;border:2px solid LightGray;">Coming Soon!!</a>
            </div>
        </div>
        <!-- MASK 3-->
        <div class="card" style="width: 20rem; position: relative; left: 0px; top: 0px"  >
            <img src="https://images-na.ssl-images-amazon.com/images/I/71qzaCChIdL._AC_UL320_SR320,320_.jpg" class="card-img-top" width="500" height="300">
            <div class="card-body">
                <h5 class="card-title">Pink Sky Mask</h5>
                <p class="card-text">$9.99</p>
                <a href="#" class="btn btn-primary" style="background-color:LightGray;border:2px solid LightGray;">Coming Soon!!</a>
            </div>
        </div>
        <!-- MASK 4-->
        <div class="card" style="width: 20rem; position: relative; left: 0px; top: 0px"  >
            <img src="https://m.media-amazon.com/images/I/71c8rGMjuaL._SL1500_.jpg" class="card-img-top" width="500" height="300">
            <div class="card-body">
                <h5 class="card-title">Gradient Crystal Mask</h5>
                <strike class="card-text">$29.99</strike>
                <p style="color:red" class="card-text">$19.99</p>
                <a href="#" class="btn btn-primary" style="background-color:LightGray;border:2px solid LightGray;">Coming Soon!!</a>
            </div>
        </div>

        <!-- MASK 5-->
        <div class="card" style="width: 20rem; position: relative; left:0px; top: 0px"  >
            <img src="https://m.media-amazon.com/images/I/81gQDIhQR1L._AC_SL1500_.jpg" class="card-img-top" width="500" height="300">
            <div class="card-body">
                <h5 class="card-title">Checkered Mask</h5>
                <p class="card-text">$9.99</p>
                <a href="#" class="btn btn-primary" style="background-color:LightGray;border:2px solid LightGray;">Coming Soon!!</a>
            </div>
        </div>
        <!-- MASK 6-->
        <div class="card" style="width: 20rem; position: relative; left: 0px; top: 0px"  >
            <img src="https://images-na.ssl-images-amazon.com/images/I/71yc+CkNuxL._AC_UL320_SR320,320_.jpg" class="card-img-top" width="500" height="300">
            <div class="card-body">
                <h5 class="card-title">Red Dragon Mask</h5>
                <p class="card-text">$9.99</p>
                <a href="#" class="btn btn-primary" style="background-color:LightGray;border:2px solid LightGray;">Coming Soon!!</a>
            </div>
        </div>

        <!-- MASK 7-->
        <div class="card" style="width: 20rem; position: relative; left: 0px; top: 0px"  >
            <img src="https://images-na.ssl-images-amazon.com/images/I/71XoP7ZbrrL._AC_UL320_SR320,320_.jpg" class="card-img-top" width="500" height="300">
            <div class="card-body">
                <h5 class="card-title">Sugar Skull Mask</h5>
                <p class="card-text">$9.99</p>
                <a href="#" class="btn btn-primary" style="background-color:LightGray;border:2px solid LightGray;">Coming Soon!!</a>
            </div>
        </div>
        <!-- MASK 8-->
        <div class="card" style="width: 20rem; position: relative; left: 0px; top: 0px"  >
            <img src="https://m.media-amazon.com/images/I/71lR1Hu8sSL._SL1500_.jpg" class="card-img-top" width="500" height="300">
            <div class="card-body">
                <h5 class="card-title">Pink Crystal Mask</h5>
                <strike class="card-text">$29.99</strike>
                <p style="color:red" class="card-text">$19.99</p>
                <a href="#" class="btn btn-primary" style="background-color:LightGray;border:2px solid LightGray;">Coming Soon!!</a>
            </div>
        </div>
        <!-- MASK 9-->
        <div class="card" style="width: 20rem; position: relative; left: 0px; top: 0px"  >
            <img src="https://m.media-amazon.com/images/I/71MEG3lckgL._AC_SL1500_.jpg" class="card-img-top" width="500" height="300">
            <div class="card-body">
                <h5 class="card-title">Spangled Banner Mask</h5>
                <p class="card-text">$9.99</p>
                <a href="#" class="btn btn-primary" style="background-color:LightGray;border:2px solid LightGray;">Coming Soon!!</a>
            </div>
        </div>
        <!-- MASK 10-->
        <div class="card" style="width: 20rem; position: relative; left: 0px; top: 0px"  >
            <img src="https://images-na.ssl-images-amazon.com/images/I/71RAyAMh0JL._AC_UL320_SR320,320_.jpg" class="card-img-top" width="500" height="300">
            <div class="card-body">
                <h5 class="card-title">Blue Dragon Mask</h5>
                <p class="card-text">$9.99</p>
                <a href="#" class="btn btn-primary" style="background-color:LightGray;border:2px solid LightGray;">Coming Soon!!</a>
            </div>
        </div>
        <!-- MASK 11-->
        <div class="card" style="width: 20rem; position: relative; left: 0px; top: 0px"  >
            <img src="https://m.media-amazon.com/images/I/41JXSd+UCRL._AC_SR320,400_.jpg" class="card-img-top" width="500" height="300">
            <div class="card-body">
                <h5 class="card-title">White Dragon Mask</h5>
                <p class="card-text">$9.99</p>
                <a href="#" class="btn btn-primary" style="background-color:LightGray;border:2px solid LightGray;">Coming Soon!!</a>
            </div>
        </div>
        <!-- MASK 12-->
        <div class="card" style="width: 20rem; position: relative; left: 0px; top: 0px"  >
            <img src="https://images-na.ssl-images-amazon.com/images/I/61alkSL7htL._SL1500_.jpg" class="card-img-top" width="500" height="300">
            <div class="card-body">
                <h5 class="card-title">White Crystal Mask</h5>
                <strike class="card-text">$29.99</strike>
                <p style="color:red" class="card-text">$19.99</p>
                <a href="#" class="btn btn-primary" style="background-color:LightGray;border:2px solid LightGray;">Coming Soon!!</a>
            </div>
        </div>
        <!-- MASK 13-->
        <div class="card" style="width: 20rem; position: relative; left: 0px; top: 0px"  >
            <img src="https://m.media-amazon.com/images/I/81ykERu13cL._AC_SL1500_.jpg" class="card-img-top" width="500" height="300">
            <div class="card-body">
                <h5 class="card-title">Lemon Mask</h5>
                <strike class="card-text">$14.99</strike>
                <p style="color:red" class="card-text">$9.99</p>
                <a href="#" class="btn btn-primary" style="background-color:LightGray;border:2px solid LightGray;">Coming Soon!!</a>
            </div>
        </div>
        <!-- MASK 14-->
        <div class="card" style="width: 20rem; position: relative; left: 0px; top: 0px"  >
            <img src="https://images-na.ssl-images-amazon.com/images/I/71b416vewZL._AC_UL320_SR320,320_.jpg" class="card-img-top" width="500" height="300">
            <div class="card-body">
                <h5 class="card-title">Phoenix Mask</h5>
                <p class="card-text">$9.99</p>
                <a href="#" class="btn btn-primary" style="background-color:LightGray;border:2px solid LightGray;">Coming Soon!!</a>
            </div>
        </div>

        <!-- MASK 15-->
        <div class="card" style="width: 20rem; position: relative; left: 0px; top: 0px"  >
            <img src="https://images-na.ssl-images-amazon.com/images/I/71fp6NcjfCL._AC_UL320_SR320,320_.jpg" class="card-img-top" width="500" height="300">
            <div class="card-body">
                <h5 class="card-title">Dragon Mask</h5>
                <p style="color:red" class="card-text">$9.99</p>
                <a href="#" class="btn btn-primary" style="background-color:LightGray;border:2px solid LightGray;">Coming Soon!!</a>
            </div>
        </div>
        <!-- MASK 16-->
        <div class="card" style="width: 20rem; position: relative; left: 0px; top: 0px"  >
            <img src="https://images-na.ssl-images-amazon.com/images/I/71p0K6gwwLL._AC_UL320_SR320,320_.jpg" class="card-img-top" width="500" height="300">
            <div class="card-body">
                <h5 class="card-title">Yin-Yang Mask</h5>
                <strike class="card-text">$14.99</strike>
                <p style="color:red" class="card-text">$9.99</p>
                <a href="#" class="btn btn-primary" style="background-color:LightGray;border:2px solid LightGray;">Coming Soon!!</a>
            </div>
        </div>





</div>
{% endblock %}


</html>

