<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Promo</title>
</head>
{% block content %}
<body>
<center>
<h1 style="position:relative;left:0px;top:20px">Promos</h1>

<div style="position:relative;left:0px;top:50px; border-style: dashed;padding: 50px">
    <h1 style="font-family:Papyrus">Back To School!</h1>
    <h1 style="font-size: 25px; position:relative;left:0px;top0px">
    <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/81/books_1f4da.png" width="50" height="50" style="position: relative; left: -270px; top:-50px">
    <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/81/books_1f4da.png" width="50" height="50" style="position: relative; left: 270px; top:-50px">
        <br>
        MAKE A GOOD FIRST IMPRESSION WITH A NEW CUSTOMIZED MASK!
        <br>
        GET 20% OFF YOUR ENTIRE PURCHASE
        <br>
    </h1>
    <p>
        <br>
        Use Code
        <b>'SCHOOL2021'</b>
        at Checkout!
        <br>
        Expires 8/25/2021
    </p>

    <a href="http://127.0.0.1:8000/products/" class="btn btn-primary" style="background-color:White;border:2px solid Black;color:Black;position: relative; left:-10px; top:20px">Shop Best Sellers</a>
    <a href="http://127.0.0.1:8000/products/customize" class="btn btn-primary" style="background-color:White;border:2px solid Black;color:Black;position: relative; left:10px; top:20px">Start Customizing</a>
</div>

<div style="position:relative;left:0px;top:100px; border-style: dashed;padding: 50px">
    <h1 style="font-family:Papyrus">Get Vaccinated Today!</h1>
    <h1 style="font-size: 25px; position:relative;left:0px;top0px">
    <img src="https://www.gannett-cdn.com/presto/2021/02/18/USAT/59ab4a07-acb0-4f32-b95a-2ad31e8c1332-syringe-new.jpg" width="50" height="50" style="position: relative; left: -320px; top:-60px">
    <img src="https://www.gannett-cdn.com/presto/2021/02/18/USAT/59ab4a07-acb0-4f32-b95a-2ad31e8c1332-syringe-new.jpg" width="50" height="50" style="position: relative; left: 320px; top:-60px">
        <br>
        PROTECT YOURSELVES AND EVERYONE AROUND YOU!
        <br>
        GET 50% OFF YOUR ENTIRE PURCHASE
        WHEN YOU GET A COVID VACCINE
        <br>
    </h1>
    <p>
        <br>
        Use Code
        <b>'PROVACCINE'</b>
        at Checkout!
        <br>
        Expires 7/31/2021
    </p>

    <a href="http://127.0.0.1:8000/products/" class="btn btn-primary" style="background-color:White;border:2px solid Black;color:Black;position: relative; left:-10px; top:20px">Shop Best Sellers</a>
    <a href="http://127.0.0.1:8000/products/customize" class="btn btn-primary" style="background-color:White;border:2px solid Black;color:Black;position: relative; left:10px; top:20px">Start Customizing</a>
</div>

<div style="position:relative;left:0px;top:150px; border-style: dashed;padding: 50px">
    <h1 style="font-family:Papyrus"> Summer is Here!</h1>
    <h1 style="font-size: 25px; position:relative;left:0px;top0px">
    <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/118/airplane_2708.png" width="35" height="35" style="position: relative; left: -350px; top:-50px">
    <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/118/airplane_2708.png" width="35" height="35" style="position: relative; left: 330px; top:-50px">
        <br>
        TRAVEL IN SAFETY, STYLE, AND COMFORT!
        <br>
        BY ONE GET ONE 50% OFF WHEN CUSTOMIZING YOUR OWN MASK
        <br>
    </h1>
    <p>
        <br>
        Use Code
        <b>'SUMMER2021'</b>
        at Checkout!
        <br>
        Expires 7/4/2021
    </p>

    <a href="http://127.0.0.1:8000/products/" class="btn btn-primary" style="background-color:White;border:2px solid Black;color:Black;position: relative; left:-10px; top:20px">Shop Best Sellers</a>
    <a href="http://127.0.0.1:8000/products/customize" class="btn btn-primary" style="background-color:White;border:2px solid Black;color:Black;position: relative; left:10px; top:20px">Start Customizing</a>
</div>

<div style="position:relative;left:0px;top:200px; border-style: dashed;padding: 50px">
    <h1 style="font-family:Papyrus">Get Ready For Summer Festivities!</h1>
    <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/271/beach-with-umbrella_1f3d6-fe0f.png" width="50" height="50" style="position: relative; left: -390px; top:-50px">
    <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/271/beach-with-umbrella_1f3d6-fe0f.png" width="50" height="50" style="position: relative; left: 390px; top:-50px">
    <h1 style="font-size: 25px; position:relative;left:0px;top0px">
        LIMITED TIME OFFER!
        <br>
        GET 25% OFF YOUR ENTIRE PURCHASE
        <br>
    </h1>
    <p>
        <br>
        Use Code
        <b>'READY4SUMMER'</b>
        at Checkout!
        <br>
        Expires 6/10/2021
    </p>

    <a href="http://127.0.0.1:8000/products/" class="btn btn-primary" style="background-color:White;border:2px solid Black;color:Black;position: relative; left:-10px; top:20px">Shop Best Sellers</a>
    <a href="http://127.0.0.1:8000/products/customize" class="btn btn-primary" style="background-color:White;border:2px solid Black;color:Black;position: relative; left:10px; top:20px">Start Customizing</a>
</div>

<div style="position:relative;left:0px;top:250px; border-style: dashed;padding: 50px">
    <h1 style="font-family:Papyrus">Nothing As Good As Spring!</h1>
    <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/81/tulip_1f337.png" width="50" height="50" style="position: relative; left: -320px; top:-50px">
    <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/81/tulip_1f337.png" width="50" height="50" style="position: relative; left: 320px; top:-50px">

    <h1 style="font-size: 25px; position:relative;left:0px;top0px">

        ENJOY NATURES AWAKENING WITH NEW CUSTOM MASKS!
        <br>
        GET 20% OFF YOUR ENTIRE PURCHASE
        <br>
    </h1>
    <p>
        <br>
        Use Code
        <b>'SPRINGTIME2021'</b>
        at Checkout!
        <br>
        Expires 5/1/2021
    </p>

    <a href="http://127.0.0.1:8000/products/" class="btn btn-primary" style="background-color:White;border:2px solid Black;color:Black;position: relative; left:-10px; top:20px">Shop Best Sellers</a>
    <a href="http://127.0.0.1:8000/products/customize" class="btn btn-primary" style="background-color:White;border:2px solid Black;color:Black;position: relative; left:10px; top:20px">Start Customizing</a>
</div>

<div style="position:relative;left:0px;top:300px; border-style: dashed;padding: 50px">
    <h1 style="font-family:Papyrus">Happy New Years!</h1>
    <img src="http://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-12/256/clinking-beer-mugs.png" width="50" height="50" style="position: relative; left: -350px; top:-50px">
    <img src="http://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-12/256/clinking-beer-mugs.png" width="50" height="50" style="position: relative; left: 350px; top:-50px">

    <h1 style="font-size: 25px; position:relative;left:0px;top0px">

        CELEBRATE A NEW YEAR WITH A NEW MASK!
        <br>
        GET 50% OFF YOUR ENTIRE PURCHASE
        <br>
    </h1>
    <p>
        <br>
        Use Code
        <b>'YEAR2021'</b>
        at Checkout!
        <br>
        Expires 1/31/2021
    </p>

    <a href="http://127.0.0.1:8000/products/" class="btn btn-primary" style="background-color:White;border:2px solid Black;color:Black;position: relative; left:-10px; top:20px">Shop Best Sellers</a>
    <a href="http://127.0.0.1:8000/products/customize" class="btn btn-primary" style="background-color:White;border:2px solid Black;color:Black;position: relative; left:10px; top:20px">Start Customizing</a>
</div>



</center>




</body>
{% endblock %}
</html>